<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tristar Inn Xpress</title>
</head>
<body>
    <h1>TRISTAR INN XPRESS</h1>
    <h3>Welcome to the Tristar Inn Xpress - Motel and Bar</h3>
    <a href="{{ url_for('hotel') }}">Hotel</a>
    <a href="{{ url_for('bar') }}">Bar</a>
    <a href="{{ url_for('contacts') }}">Contacts</a>
    <a href="{{ url_for('reservation') }}">Reservation</a>
    <div>
        <h4>Hotel & Rooms</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero modi cumque tempore harum, eius sequi, eaque, cupiditate pariatur in minus quia? Culpa, esse ullam? Inventore fugit provident eius ex odit!</p>
        <h4>Bar</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis reprehenderit accusantium, necessitatibus atque consequatur cumque debitis, modi, nulla optio maiores fuga quaerat magni minus error consequuntur expedita animi cum aliquid.</p>
        <script src="static/index.js"></script>
    </div>    
</body>
</html>