<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
</head>
<body>
    {% block content %}
    <div class="container">
        <main>
            <section class="position-relative overflow-hidden p-3 p-md-5 m-md-3 rounded-3">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Success!</h4>
                        <p>Your booking request has been successfully sent to our manager. We will contact you as soon as possible!</p>
                        <hr>
                        <p class="mb-0">Return to the <a href="{{ url_for('index') }}" class="alert-link">home</a> page</p>
                    </div>
            </section>
            <br>
            <br>
            <br>
            <br>
    {% endblock %}
</body>
</html>